K-means example

In [ ]:
# packages for data-analysis and ML-module
import pandas as pd
import numpy as np
from sklearn.cluster import KMeans

# packages for data-visualization
import matplotlib.pyplot as plt

In [17]:
# import dataset
dataset = pd.read_csv(r'C:\Users\Bob\Desktop\accident.csv')

In [18]:
# print(dataset.columns[1:])
X = dataset[dataset.columns[3:6]]
X = X.convert_objects(convert_numeric=True)
X.head()

C:\anaconda\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: convert_objects is deprecated.  To re-infer data dtypes for object columns, use DataFrame.infer_objects()
For all other conversions use the data-type specific converters pd.to_datetime, pd.to_timedelta and pd.to_numeric.
  This is separate from the ipykernel package so we can avoid doing imports until

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Data_value</th>
      <th>Lower_CI</th>
      <th>Upper_CI</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>59.666667</td>
      <td>50.925823</td>
      <td>68.407510</td>
    </tr>
    <tr>
      <th>1</th>
      <td>60.000000</td>
      <td>51.234775</td>
      <td>68.765225</td>
    </tr>
    <tr>
      <th>2</th>
      <td>59.000000</td>
      <td>50.308125</td>
      <td>67.691875</td>
    </tr>
    <tr>
      <th>3</th>
      <td>59.000000</td>
      <td>50.308125</td>
      <td>67.691875</td>
    </tr>
    <tr>
      <th>4</th>
      <td>61.333333</td>
      <td>52.471252</td>
      <td>70.195415</td>
    </tr>
  </tbody>
</table>
</div>

eliminate Null values and simultaneously double-check after fillna()

In [20]:
# eliminate Null values
for i in X.columns:
    # fillna automatically fill the null spcae with mean-value of the specific column
    X[i] = X[i].fillna(X[i].mean())
    
# test for missing data by traversing each row of each column (element-by-column)
for i in X.columns:
    print(X[i].isnull().sum())

0
0
0

use the elbow-method to find the optimal number of clusters